<server description="Intro REST Guide Liberty server">
    <!-- tag::featureManager[] -->
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jpa-2.2</feature>
    </featureManager>
    <!-- end::featureManager[] -->

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" host="*" />
    <webApplication location="sample-rest-openliberty.war" contextRoot="${app.context.root}" />


    <library id="h2JDBCLib">
        <fileset dir="${shared.resource.dir}" includes="h2*.jar" />
    </library>
    <!-- Datasource Configuration -->
    <dataSource id="jpadatasource" jndiName="jdbc/sample">
        <jdbcDriver libraryRef="h2JDBCLib" />
        <properties url="jdbc:h2:file:./data/sample"    />
    </dataSource>  
</server>