<server description="Intro REST Guide Liberty server">
    <!-- tag::featureManager[] -->
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jpa-2.2</feature>
    </featureManager>
    <!-- end::featureManager[] -->

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" host="*" />
    <webApplication location="sample-rest-openliberty.war" contextRoot="${app.context.root}" />


    <library id="MySQLLib">
        <fileset dir="${shared.resource.dir}" includes="mysql*.jar" />
    </library>
    <!-- Datasource Configuration -->
    <dataSource id="jpadatasource" jndiName="jdbc/sample">
        <jdbcDriver libraryRef="MySQLLib" />
        <properties url="jdbc:mysql://localhost/sample?serverTimezone=America/Lima&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"    user="sample" password="sample"/>
    </dataSource>  
</server>